.card{
  border: 5px solid goldenrod;
  border-radius: 10px;
  box-shadow: 5px 5px 10px gray;
  padding: 20px;
  margin: 30px;
  text-align: center;
  display: inline-block;
}
.card .card-image {
  width: 150px;      /* increase size */
  height: 150px;     /* keep same for square */
  object-fit: cover; /* crop nicely */
  border-radius: 10px;
}